{% extends 'base.html' %}
{% block title %}Our Hotel {% endblock %}
{% block content %}	


<div class="container-fluid" style="background-color: turquoise">
  	<div class="row">
  		<div class="col-md-8" style="position: center">
		<h3>Welcome to Your home away from Home</h3>
	</div>
</div>
</div>
<br>
	
<div class="jumbotron">
    <div class="container">
      <h1 class="display-6">Some History</h1>

	<div class="row">
		<div class="col-md-8">
			<p class="text-left">Ambitioni dedisse scripsisse iudicaretur. Cras mattis iudicium purus sit amet fermentum. Donec sed odio operae, eu vulputate felis rhoncus. Praeterea iter est quasdam res quas ex communi. At nos hinc posthac, sitientis piros Afros. Petierunt uti sibi concilium totius Galliae in diem certam indicere. Cras mattis iudicium purus sit amet fermentum.</p>
			</div>
		
		<div class="col-md-4" class="float-right">
			  <img src="https://www.google.com/url?sa=i&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwirg_fFy9HhAhWJbFAKHV3CAPgQjRx6BAgBEAU&url=https%3A%2F%2Fwww.travelonline.com%2Fthailand%2Faccommodation%2Ffive-star-resorts&psig=AOvVaw136KKbiddg1e3_fVx9yJM1&ust=1555399157312720">
				<h2>The resort befor Sunset </h2>
		
		</div>
	</div>

{% endblock %}


